node_modules/
www/
android/local.properties
android/keystore.properties
android/*.jks
android/*.keystore
android/.gradle/
android/build/
android/app/build/
android/app/release/
android/captures/
ios/App/Pods/
ios/App/build/
ios/DerivedData/
ios/App/App.xcworkspace/xcuserdata/
ios/App/App.xcodeproj/xcuserdata/
.DS_Store
*.log
